* {
  font-family: sans-serif;
}
.cap {
    margin: 1% 5%;
    padding: 0 0;
    background-color:#ccc;
    text-align: center;
}
.cap img {
    max-width:100%;
}

.main {
  float: left;
  width: 90%;
  margin: 5%;
  background-color:  #FFC300;
}

.col3 {
  float: left;
  width: 33.3%;
  text-align: center;
}

.col3 img {
    max-width:80%;
    padding: 20% 10%;
    background-color:  #11C300;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .col3 {
    width: 100%;
  }
}
